{% extends "base.html" %}

{% block content %}
    <table bgcolor="pink" border="1px">
        <tr>
            <td>Question</td>
            <td>Answer</td>
            <td>Option</td>
        </tr>
        {% for q in data %}
        <tr>

            <td>{{q.question}}</td>
            <td>{{q.answer}}</td>
            <td>
                <!--still not well-->
                <a href="/updateQuestion/{{q.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{q.id}}">Edit</a>
                <a href="/deleteQuestion/{{q.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
            </td>
        </tr>

         <div id="modaledit{{q.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('updateQuestion')}}" method="POST">


               <div class="form-group">


                  <label>Question:</label>
                   <input type="hidden"  name="id" value="{{q.id}}">

                  <input type="text" class="form-control" name="question" value="{{q.question}}">


               </div>



               <div class="form-group">


                  <label>Answer:</label>

                  <input type="text" class="form-control" name="answer" value="{{q.answer}}">


               </div>





               <div class="form-group">



                  <input type="submit" value="Update">

               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

    </div>
        {% endfor %}
    </table>
{% endblock %}