{% extends "base.html" %}

{% block content %}
    <table bgcolor="pink" border="1px">
        <tr>
            <td>ID</td>
            <td>username</td>
            <td>admin</td>
            <td>option</td>
        </tr>
        {% for u in data %}
        <tr>
            <td>#{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.admin}}</td>
            <td>

                <a href="/deleteUser/{{u.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}